@model RobinCompany.Models.Company

@using (Html.BeginForm("save", "home", FormMethod.Post, new { id = "popup" }))
{
    if (Model != null && Model.CompanyId > 0)
    {
        @Html.HiddenFor(x => x.CompanyId)
    }

    <div class="form-group">
        <label>Company Name</label> 
        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CompanyName)
    </div>
    <div class="form-group">
        <label>ABN/CAN</label> 
        @Html.TextBoxFor(x => x.CompanyABNCAN, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CompanyABNCAN)
    </div>
    <div class="form-group">
        <label>Description</label> 
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)
    </div>
    <div class="form-group">
        <label>Company Website</label>
        @Html.TextBoxFor(x => x.CompanyWebsite, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CompanyWebsite)
    </div>

    <input type="submit" value="Save" />
}
